{% extends 'base.html.twig' %}

{% block title %}Добавление тега{% endblock %}

{% block body %}
    <h1>Добавление тега</h1>
    <form method="post" action="{{ path('tag_add') }}">
        <div class="form-group">
            <label for="formGroupTitle">Название *</label>
            <input type="text" name="title" class="form-control w-50" id="formGroupTitle" placeholder="Введите название">
        </div>
        <div class="form-group">
            <label for="formGroupSlug">Slug</label>
            <input type="text" name="slug" class="form-control w-50" id="formGroupSlug" placeholder="Введите slug">
        </div>
        <button type="submit" class="btn btn-success mt-3">Добавить тег</button>
    </form>
{% endblock %}
