{% extends 'base.html.twig' %}

{% block title %}Статус удален!{% endblock %}

{% block body %}
    <div class="alert alert-success" role="alert">
        Статус "{{ status.title }}" был успешно удален!
    </div>
    <a class="mt-3" href="{{ path('status_show_all') }}">Перейти к списку статусов</a>
{% endblock %}
