
$danger: darken(#CD5C5C, 1%);

@import "~bootstrap/scss/bootstrap";
@import '~@fortawesome/fontawesome-free/css/all.css';

label {
  color: #F5871F;
  font-weight: bold;
}

label.required:after {
  content: "*";
  padding-left: 5px;
}

select option[value=""] {
  color: #999999;
}

table td {
  vertical-align: middle!important;
}