{% extends 'base.html.twig' %}

{% block title %}Пользователь успешно добавлен!{% endblock %}

{% block body %}
    <div class="alert alert-success" role="alert">
        Пользователь "{{ user.login }}" успешно добавлен!
    </div>
    <a class="btn btn-info mt-3" href="{{ path('user_show', {'id': user.id}) }}" role="button">Подробнее</a>
    <a class="btn btn-success mt-3" href="{{ path('user_add') }}" role="button">Добавить еще</a>
{% endblock %}
