{% extends 'base.html.twig' %}

{% block title %}Пользователь удален!{% endblock %}

{% block body %}
    <div class="alert alert-success" role="alert">
        Пользователь "{{ user.login }}" был успешно удален!
    </div>
    <a class="mt-3" href="{{ path('user_show_all') }}">Перейти к списку пользователей</a>
{% endblock %}
